.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .buttons__button {
      margin-top: 10px;
    }
}

.buttons__button {
    background: none;
    border: none;
    cursor: pointer;
    color: teal;
    font-size: 20px;
    transition: color 0.3s;
}

.buttons__button {
    background: none;
    border: none;
    cursor: pointer;
    color: teal;
    font-size: 20px;
    transition: color 0.3s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:active {
    color: hsl(180, 100%, 45%);
}

.buttons__button:disabled {
    color: #ccc
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:active {
    color: hsl(180, 100%, 45%);
}